body {
  color: #eeeeee;
}

.m_left {
  margin-left: 100px !important;
}

.dr-green {
  background-color: #222e31;
}

.dr-less-green {
  background-color: #173539;
}

.dr-grey {
  background-color: #1a1d21;
}

.hover-salmon:hover {
  background-color: #c78074;
}

.orange-click {
  background-color: #eba270;
}

.text-white {
  color: #eeeeee;
}

.select-dropdown {
  color: white;
}
