body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Merriweather', serif;}

/*-- Background------------------------------*/

.landing-page-background {
    background: url(/static/images/person-holding-gray-and-black-sony-ps-4-controller-3945654.jpg) fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 94vh;
    position: relative;
}


/* Home Page */

.img-recent-game{
    height: 40px;
    width: 70px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 6px;
}

.newest_games_ul{
    background-color: #ffffffde;
    
}

.new-games-a{
    text-decoration: none;
}
.new-games-a:hover{
    color: #007bff;
    text-decoration: none !important;
}
.block-divider {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #898989;
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.register-now{
  color:  #007bff;
  text-decoration: underline;
}

.main_container{
    background-color: #ffffffde;
    border-radius: 10px;
}

a { color: inherit; } 
a:hover{color: inherit;}

.m_left {
  margin-left: 100px !important;
}


.hover-blue:hover {
  background-color: rgb(34, 115, 197);
  color: #ffffffd6;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
}


.navbar-grey{
    background-color:#393e46;
    color: #f2f2f2;
    text-decoration: none;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar-grey:hover{
    color: #f2f2f2;
    
}


.home_slide{
    max-height: 1500px;
}


.login_forum{
    border-radius: 12px;
    background-color: #f2f2f2;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 25px;
    box-shadow:  0px 15px 10px rgba(0,0,0,0.15);
}

/*-- User Registration------------------------------*/
.select-w-100{
    width: 100% !important;
}

.game_card_img {
  display: block;
  max-width:286px;
  max-height:161px;
  min-width: 286px;
  min-height: 161px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
}

#message p {
  padding-left:5px;   
  font-size: 14px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;

  content: "✔";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  
  content:"✖";
}

/*-- Add Game------------------------------*/

.form-add-game{
    border-radius: 12px;
    background-color: #f2f2f2;
}

.release-date-picker{
    background-color:#ffffff;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ced4da !important;
}

.home_featured_img{
    max-width: 750px;
    max-height: 421px ;
}

.featured_dev{
    background-color:  #efefef;  
    box-shadow: 0px 2px 2px #49505738;
}

.alert-danger{
    background-color: #f8d7daeb !important;
}

.footer-style{
    position: absolute;
    bottom: 0 ;
    left: 0;
    width: 100%;
    background-color: #efefef;
}

/* View reviews */

.reviews-wrapper{
      border-radius: 5px;
      box-shadow:  0px 15px 10px rgba(0,0,0,0.10);
      background-color: #fffffff0;
      backdrop-filter: blur(6px);
}

.review-img{

    border-radius: 5px;
    position: block;
    width: 100%;
    padding: 3px;
}

.game-details{
    text-decoration: underline;
}
    

.game-details-p{
    text-transform: capitalize;
}

.details-title{
    font-family: 'Merriweather', serif;
}

.review-score-low{
    background-color: #ea0b0b;
}

.review-score-md{
    background-color: darkorange;
}

.review-score-high{
    background-color: green;
}

.review-body{
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-score{    
    float: left;
    padding-top: 6px;
    padding-left: 5px;
    border-radius: 50%;
    border: 1px #007bff;
    width: 35px;
    height: 35px;
}

/* Misc */

.btn-primary{
    filter: drop-shadow(0 0 0.15rem #007bff);
}

.btn-secondary{
    filter: drop-shadow(0 0 0.15rem #737374);
}

.btn{
    font-size: 0.90rem !important;
    margin-bottom:10px;
}

.btn-light{
    background-color: #ffffff !important;
    border: 1px solid #ced4da;
    height: calc(1.5em + .75rem + 2px) !important;
}
.spacer{
    height: 100px;
}

.card-game{
  box-shadow:  0px 15px 10px rgba(0,0,0,0.15);
  transition: 0.25s ease box-shadow, 0.15s ease transform;
  background-color: white;
}

.card-game:hover{
    box-shadow:  0px 15px 10px rgba(0,0,0,0.25);
    transform: scale(1.015);
}

.dropdown-menu{
    min-width: 130px !important;
}

/* Radial Out by Hover.css */

.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0575ed;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/*-- Media Queries----------------*/


@media (max-width: 375px) {
    .login-container{
        margin-top: 30px !important;
        margin-bottom: 30px;
    }

    .login_forum{
        margin-bottom: 30px !important;
    }
}



@media (max-width: 768px) {

}

@media (max-width: 1024px) {
    .landing-page-background {
        min-height: 96vh;
    }

    .background-alpha{
        min-height: 96vh;
    }

}




@media (min-width: 992px) {

}



@media (max-height:720px) {
     
}



@media (min-height: 1200px) {

}