.landing-page-background {
  background: url(/static/images/1041188.jpg) fixed ;
  background-size: 100%

}

.background-alpha {
    background: rgba(0, 0, 0, 0.3) fixed;
    min-height: 94vh
}


.main_container{
    background-color: #efefef;
    border-radius: 10px;
}

a { color: inherit; } 
a:hover{color: inherit;}

.m_left {
  margin-left: 100px !important;
}


.hover-blue:hover {
  background-color: rgb(34, 115, 197);
  color: #ffffffd6;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
}


.navbar-grey{
    background-color:#393e46;
    color: #f2f2f2;
    text-decoration: none;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar-grey:hover{
    color: #f2f2f2;
    
}


.home_slide{
    max-height: 1500px;
}


.login_forum{
    border-radius: 10px;
    background-color: #efefef
}


.game_card_img {
  display: block;
  max-width:286px;
  max-height:161px;
  min-width: 286px;
  min-height: 161px;
}