{% extends 'base.html' %} {% block content %}

<h3>Add Publisher</h3>
<div class="row">
	<form action="{{url_for('insert_publisher')}}" method="POST" class="col s12">

		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">gamepad</i>
				<input id="publisher_name" name="publisher_name" type="text"/>
				<label for="icon_prefix">Publisher Name</label>
			</div>
		</div>


		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">gamepad</i>
				<input id="publisher_desc" name="publisher_desc" type="text"/>
				<label for="icon_prefix">Publisher Description</label>
			</div>
		</div>
		


		<div class="row">
			<div id="matfix" class="input-field col s12">
				<i class="material-icons prefix">today</i>
				<input id="publisher_founding_date" name="publisher_founding_date" type="date"/>
				<label for="icon_prefix">Founding Date</label>
			</div>
		</div>

        <div calss="row">
			<button class="btn dr-less-green text-white" type="submit">
            Add Publisher!
            <i class="fas fa-folder-plus"></i>
            </button>
	    </div>
	</form>
</div>

{% endblock %}