{% extends 'base.html' %} {% block content %}

<h3>Add Developer</h3>
<div class="row">
  <form action="{{url_for('insert_developer')}}" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">gamepad</i>
        <input id="developer_name" name="developer_name" type="text" maxlength="40" required/>
        <label for="icon_prefix">Developer Name</label>
      </div>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <i class="material-icons prefix">gamepad</i>
      </div>
      <textarea class="form-control" aria-label="With textarea"
        id="developer_desc" name="developer_desc" maxlength="1500" required></textarea>
      <label for="icon_prefix">Developer Description</label>
    </div>

    <div class="row">
      <div id="matfix" class="input-field col s12">
        <i class="material-icons prefix">today</i>
        <input
          id="developer_founding_date"
          name="developer_founding_date"
          type="date" required
        />
        <label for="icon_prefix">Founding Date</label>
      </div>
    </div>

    <div calss="row">
      <button class="btn btn-primary hvr-radial-out" type="submit">
        Add Developer!
        <i class="fas fa-folder-plus"></i>
      </button>
    </div>
  </form>
</div>

{% endblock %}
