{% extends 'base.html' %} {% block content %}

<h3>Add Review</h3>
<div class="row">
	<form action="{{url_for('insert_review')}}" method="POST">

	    <div class="form-group">
			<div class="input-field">
				<i class="material-icons prefix" >videogame_asset</i>
				<select id="review_game" name="review_game">
            <option  disabled selected>Choose Game</option>
          {% for game in games %}
            {% if the_game is defined %}
                {% if the_game.game_name == game.game_name %}
                        <option selected value="{{the_game.game_name}}">{{the_game.game_name}}</option>
                {% endif %}
            {% else %}
                    <option value="{{game.game_name}}">{{game.game_name}}</option>
            {% endif %}
          {% endfor %}
        </select>
				<label>Game Name</label>
			</div>
		</div>


		<div class="form-group">
			<div class="input-field">
				<i class="material-icons prefix">gamepad</i>
				<input id="review_header" name="review_header" type="text"/>
				<label for="icon_prefix">Review Title</label>
			</div>
		</div>

        <div class="input-group">
            <div class="input-group-prepend">
                <i class="material-icons prefix">gamepad</i>
            </div>
            <textarea class="form-control" aria-label="With textarea" id="review_body" name="review_body" ></textarea>
            <label for="icon_prefix">Review Body</label>
        </div>

        <div class="form-group">
			<div class="input-field col s12">
				<i class="material-icons prefix">gamepad</i>
				<input type="range" class="custom-range" min="0" max="10" step="0.5" name="review_score" id="review_score">
				<label for="icon_prefix">Review Score</label>
			</div>
		</div>

        <div calss="form-group">
			<button class="btn dr-less-green text-white" type="submit">
            Add Review!
            <i class="fas fa-folder-plus"></i>
            </button>
	    </div>
	</form>
</div>

{% endblock %}