{% extends 'base.html' %} {% block content %}

<h3>Add Category</h3>
<div class="row">
  <form action="{{url_for('insert_category')}}" method="POST">

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">gamepad</i>
        <input id="category_name" name="category_name" type="text" required/>
        <label for="icon_prefix">Category Name</label>
      </div>
    </div>

        <div calss="row">
			<button class="btn btn-primary" type="submit">
            Add Category!
            <i class="fas fa-folder-plus"></i>
            </button>
	    </div>
  </form>
</div>

{% endblock %}
