{% extends 'base.html' %} {% block content %}

    <div class="row d-flex justify-content-center pb-4 pt-4">
        <form class="col-10 col-md-7 pt-4 pb-4 form-add-game" action="{{url_for('insert_review')}}" method="POST">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="h3 mb-3 font-weight-normal">Add Review</h1>
                </div>
            </div>  

            <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="review_game">Game Name</label>
                            <select class="select-w-100 selectpicker" id="review_game" name="review_game" required>
                                <option  value="" disabled selected>Choose Game</option>
                                {% for game in games %}
                                    {% if the_game is defined %}
                                        {% if the_game.game_name == game.game_name %}
                                                <option selected value="{{the_game.game_name}}">{{the_game.game_name}}</option>
                                        {% endif %}
                                    {% else %}
                                            <option value="{{game.game_name}}">{{game.game_name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    <div class="form-group col-md-6">
                        <label for="review_header">review_title</label>
                        <input class="form-control" id="review_header" name="review_header" type="text" maxlength="50" required />
                    </div>
            </div>

            <div class="form-row">
                    <div class="form-group col-12">
                        <label for="review_body">Review Body</label>
                        <textarea class="form-control" aria-label="With textarea" id="review_body" name="review_body" maxlength="800" required></textarea>
                    </div>
            </div>

            <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="review_game">Score: <span id="score"></span></label>
                        <input type="range" class="custom-range" min="0" max="10" step="1" name="review_score" id="review_score" value="5">
                    </div>

            </div>
            
            <div calss="form-group">
                <button class="btn btn-primary hvr-radial-out" type="submit">
                Add Review!
                <i class="fas fa-folder-plus"></i>
                </button>
	        </div>
        </form>
    </div>
{% endblock %}