{% extends 'base.html' %} {% block content %}

<div class="row d-flex justify-content-center m-0 mb-5">
    <div class="col-10 col-md-4 text-center mt-md-4 login-container">
        <div class="login_forum mt-5"> 
            <form action="{{url_for('insert_category')}}" method="POST" class="form-signin">
                <h5 class="h3 mb-5 font-weight-normal">Add Category</h5>
                <label for="category_name" class="sr-only">Category Name</label>
                <input id="category_name" name="category_name" class="form-control mb-3" placeholder="Category Name" required>
                <button class="btn btn-lg btn-primary btn-block hvr-radial-out" type="submit">Add Category</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
