{% extends 'base.html'%} {% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-success text-center" role="alert">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="row" >
  <h1 class="mx-auto">Admin Panel</h1>
</div>

<div class="row ">
  <div class="col-3" style="text-align: center;">
    <div class="list-group">
      <h3>Categories</h3>
      {% for category in categories %}
      <a
        href="{{url_for('edit_category', category_id=category._id)}}"
        class="list-group-item list-group-item-action navy-bg hover-salmon text-whites"
        ><strong> {{category.category_name}}</strong></a>
      {% endfor %}
    </div>
  </div>

  <div class="col-3" style="text-align: center;">
    <div class="list-group">
      <h3>Games</h3>
      {% for game in games %}
      <a
        href="{{url_for('edit_game', game_id=game._id)}}"
        class="list-group-item list-group-item-action  navy-bg hover-salmon text-whites"
        ><strong> {{game.game_name}}</strong></a>
      {% endfor %}
    </div>
  </div>

  <div class="col-3" style="text-align: center;">
    <div class="list-group">
      <h3>Publisher</h3>
      {% for publisher in publishers %}
      <a
        href="{{url_for('edit_publisher', publisher_id=publisher._id)}}"
        class="list-group-item list-group-item-action  navy-bg hover-salmon text-whites"
        ><strong> {{publisher.publisher_name}}</strong></a>
      {% endfor %}
    </div>
  </div>

  <div class="col-3" style="text-align: center;">
    <div class="list-group">
      <h3>Developers</h3>
      {% for developer in developers %}
      <a
        href="{{url_for('edit_developer', developer_id=developer._id)}}"
        class="list-group-item list-group-item-action  navy-bg hover-salmon text-whites"
        ><strong> {{developer.developer_name}}</strong></a>
      {% endfor %}
    </div>
  </div>

  <div class="col-3" style="text-align: center;">
    <div class="list-group">
      <h3>Platforms</h3>
      {% for plat in platforms %}
      <a
        href="#"
        class="list-group-item list-group-item-action  navy-bg text-whites"
        ><strong> {{plat.platform_name}}</strong></a>
      {% endfor %}
    </div>
  </div>

  <div class="col-3" style="text-align: center;">
    <div class="list-group">
      <h3>Reviews</h3>
      {% for review in reviews %}
      <a

        href="{{url_for('edit_review', review_id=review._id)}}"
        class="list-group-item list-group-item-action  navy-bg hover-salmon text-whites"
        ><strong>{{review.review_game}} - {{review.review_header}}</strong></a>
      {% endfor %}
    </div>
  </div>
</div>
  <div class="spacer">
  </div>
{% endblock %}
