{% extends 'base.html'%} {% block content %}

<div class="row">
  <div class="row">
    <div class="col s4">
      <h3>Categories</h3>
      <ul class="collapsible" data-collapsible="accordion">
        {% for category in categories %}
        <li>
          <div class="collapsible-header">
            <div class="task_header">
              <strong>{{category.category_name}}</strong>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="row">
      <div class="col s4">
        <h3>Games</h3>
        <ul class="collapsible" data-collapsible="accordion">
          {% for game in games %}
          <li>
            <div class="collapsible-header">
              <div class="task_header">
                <strong>{{game.game_name}}</strong>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
