<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>

  </head>
  <body>


    <nav class="navbar navbar-dark bg-dark navbar-expand-lg  ">
    <a class="navbar-brand " href="{{url_for('home_page')}}">GameScore<i class="fas fa-gamepad"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item "><a class=" nav-link " href="{{url_for('home_page')}}">Home</a></li>
        <li class="nav-item "><a class=" nav-link " href="{{url_for('get_admin_panel')}}">Admin Panel</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add</a>
            <div class="dropdown-menu  navbar-grey " aria-labelledby="navbarDropdown">
            <a class=" nav-link hover-blue" href="{{url_for('register_user')}}">User</a>
            <a class=" nav-link hover-blue" href="{{url_for('add_game')}}">Game</a>
            <a class=" nav-link hover-blue" href="{{url_for('add_category')}}">Category</a>
            <a class=" nav-link hover-blue" href="{{url_for('add_publisher')}}">Publisher</a>
            <a class=" nav-link hover-blue" href="{{url_for('add_developer')}}">Developer</a>
            <a class=" nav-link hover-blue" href="{{url_for('add_review')}}">Review</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View</a>
            <div class="dropdown-menu  navbar-grey" aria-labelledby="navbarDropdown">
            <a class=" nav-link hover-blue" href="{{url_for('view_games')}}">Games</a>
            <a class=" nav-link hover-blue" href="{{url_for('view_developers')}}">Developers</a>
            <a class=" nav-link hover-blue" href="{{url_for('view_publishers')}}">Publishers</a>
            </div>
        </li>
            
           
        </ul>

        <ul class="navbar-nav">
            {% if 'username' in session %}
                <li class="nav-item "><a class=" nav-link " href="{{url_for('logout')}}">Logout</a></li>
            {% else %}
                <li class="nav-item "><a class=" nav-link " href="{{url_for('user_login')}}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    </nav>
    <section class="landing-page-background">
            <div class="container  p-3">
                {% block content %} {% endblock %}
            </div>
        <!-- Footer -->
        <footer class="page-footer font-small blue footer-style">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://github.com/danielclements">Daniel Clements</a>
        </div>
        <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


    <script type="text/javascript">
    $(document).ready(function () { 
       $('select').selectpicker();

    var slider = document.getElementById("review_score");
    var output = document.getElementById("score");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
    output.innerHTML = this.value;
    }

      });
    </script>
  </body>
</html>
