<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
  </head>
  <body class="dr-grey">
    <nav>
      <div class="nav-wrapper padding dr-green">
        <a href="{{url_for('get_admin_panel')}}" class="brand-logo m_left"
          ><span>Game</span><span>Score</span><span class="material-icons">
            videogame_asset
          </span></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="hover-salmon" href="{{url_for('get_admin_panel')}}">Admin Panel</a></li>
          <li><a class="hover-salmon" href="{{url_for('add_game')}}">Add Game</a></li>
          <li><a class="hover-salmon" href="{{url_for('add_category')}}">Add Category</a></li>
          <li><a class="hover-salmon" href="{{url_for('add_publisher')}}">Add Publisher</a></li>
          <li><a class="hover-salmon" href="{{url_for('add_developer')}}">Add Developer</a></li>
          <li><a class="hover-salmon" href="{{url_for('add_review')}}">Add Review</a></li>

        </ul>
      </div>
    </nav>

    <div class="container">
      {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function () { 
      });
    </script>
  </body>
</html>
