{% extends 'base.html' %} {% block content %}

<h3>Edit Game</h3>
<div class="row">
	<form action="{{ url_for('update_game', game_id=game._id) }}" method="POST">

    <div class="form-group">
        <i class="fas fa-list"></i>
      <select class="selectpicker" multiple data-live-search="true" id="game_categories" name="game_categories">
        <option value="" disabled>Select Category</option>

        {% for category in categories %}
        <option value="{{category.category_name}}">{{category.category_name}}</option>
        {% endfor %}
      </select>
      <label for="categories">Select Categories</label>
    </div>

    <div class="form-group">
      <div class="input-field">
        <i class="material-icons prefix">gamepad</i>
        <input class="" id="game_name" name="game_name" type="text" value="{{game.game_name}}" />
        <label for="icon_prefix">Game Name</label>
      </div>
    </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <i class="material-icons prefix">gamepad</i>
            </div>
            <textarea class="form-control" aria-label="With textarea" id="game_summ" name="game_summ">{{game.game_summ}}</textarea>
            <label for="icon_prefix">Game Summary</label>
        </div>

    <div class="form-group">
      <div class="input-field">
        <i class="material-icons prefix">important_devices</i>
        <select id="platforms" name="platforms" multiple>
          <option disabled>Select Platform</option>
          {% for plat in platforms %}
          <option value="{{plat.platform_name}}">{{plat.platform_name}}</option>
          {% endfor %}
        </select>
        <label>Platforms</label>
      </div>
    </div>

    <div class="form-group">
      <div class="input-field">
        <i class="material-icons prefix">build</i>
        <select id="developer_name" name="developer_name">
          <option disabled selected>Choose Developer</option>
          {% for dev in developers %}
            {% if game.developer_name == dev.developer_name %}
                <option selected value="{{dev.developer_name}}">{{dev.developer_name}}</option>
            {% else %}
                <option value="{{dev.developer_name}}">{{dev.developer_name}}</option>
            {% endif %}
          {% endfor %}
        </select>
        <label>Developer Name</label>
      </div>
    </div>

    <div class="form-group">
      <div class="input-field">
        <i class="material-icons prefix">theaters</i>
        <select id="publisher_name" name="publisher_name">
          <option value="" disabled selected>Choose Publisher</option>
          {% for pub in publishers %}
            {% if game.publisher_name == pub.publisher_name %}
                <option selected value="{{pub.publisher_name}}">{{pub.publisher_name}}</option>
            {% else %}
                <option value="{{pub.publisher_name}}">{{pub.publisher_name}}</option>
            {% endif %}
          {% endfor %}
        </select>
        <label>Publisher Name</label>
      </div>
    </div>

    <div class="form-group">
      <div id="matfix" class="input-field">
        <i class="material-icons prefix">today</i>
         <input type="date" id="release_date" name="release_date" value="{{game.release_date}}">
        <label for="icon_prefix">Release Date</label>
      </div>
    </div>

    <div class="form-group">
      <div class="input-field">
        <i class="material-icons prefix">local_atm</i>
        <input
          id="affiliate_link"
          name="affiliate_link"
          type="text"
          value="{{game.affiliate_link}}"
        />
        <label for="icon_prefix">Affiliate Link</label>
      </div>
    </div>

    <div calss="form-group">
      <button class="btn dr-less-green text-white" type="submit">
        Edit Game!
        <i class="fas fa-folder-plus"></i>
      </button>
    </div>
  </form>
</div>

{% endblock %}
