{% extends 'base.html' %} {% block content %}

<h3>Edit Category</h3>
<div class="row">
	<form action="{{ url_for('update_category', category_id=category._id) }}" method="POST">

		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">gamepad</i>
				<input  class="text-white" id="category_name" name="category_name" type="text" value="{{category.category_name}}" />
				<label  class="text-white" for="icon_prefix">Category Name</label>
			</div>
		</div>


		<div calss="row">
			<button class="btn dr-less-green text-white" type="submit">
            Edit Category!
            <i class="fas fa-edit"></i>
            </button>
	    </div>
	</form>
</div>

{% endblock %}