
{% extends 'base.html' %} {% block content %}
    <div class="row d-flex justify-content-center pb-4 pt-4">
        <form class="col-10 col-md-7 pt-4 pb-4 form-add-game" action="{{ url_for('update_developer', developer_id=developer._id) }}" method="POST">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="h3 mb-3 font-weight-normal">Edit Developer</h1>
                </div>
            </div>  

            <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="developer_name">Developer Name</label>
                            <input class="form-control" id="developer_name" name="developer_name" type="text" maxlength="40" value="{{developer.developer_name}}" required/>
                        </div>
                    <div class="form-group col-md-6">
                        <label for="developer_founding_date">Founding Date</label>
                        <input class="form-control" id="developer_founding_date" name="developer_founding_date" type="date" value="{{developer.developer_founding_date}}"  required/>
                    </div>
            </div>

            <div class="form-row">
                    <div class="form-group col-12">
                        <label for="developer_desc">Developer Description</label>
                        <textarea class="form-control" aria-label="With textarea"
                        id="developer_desc" name="developer_desc" maxlength="1500" required>{{developer.developer_desc}}</textarea>
                    </div>
            </div>
            
            <div calss="form-group">
                <button class="btn btn-primary hvr-radial-out" type="submit">
                Edit Developer!
                <i class="fas fa-folder-plus"></i>
                </button>
	        </div>
        </form>
    </div>
{% endblock %}

