{% extends 'base.html' %} {% block content %}

<h3>Edit Publisher</h3>
<div class="row">
  <form
    action="{{ url_for('update_publisher', publisher_id=publisher._id) }}"
    method="POST"
  >
    <div class="row">
      <div class="input-field col s12">
        <input
          id="publisher_name"
          name="publisher_name"
          type="text"
          value="{{publisher.publisher_name}}"
          maxlength="40" required/>
        <label for="icon_prefix">Publisher Name</label>
      </div>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">

      </div>
      <textarea
        class="form-control"
        aria-label="With textarea"
        id="publisher_desc"
        name="publisher_desc"
        maxlength="1500" required>{{publisher.publisher_desc}}</textarea>
      <label for="icon_prefix">Publisher Description</label>
    </div>

    <div class="row">
      <div id="matfix" class="input-field col s12">
        <i class="material-icons prefix">today</i>
        <input
          id="publisher_founding_date"
          name="publisher_founding_date"
          type="date"
          value="{{publisher.publisher_founding_date}}"
        />
        <label for="icon_prefix">Founding Date</label>
      </div>
    </div>

    <div calss="row">
      <button class="btn btn-primary" type="submit">
        Edit Publisher!
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </form>
</div>

{% endblock %}
