{% extends 'base.html' %} {% block content %}

<h3>Edit Developer</h3>
<div class="row">
	<form action="{{ url_for('update_developer', developer_id=developer._id) }}" method="POST" class="col s12">

		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">gamepad</i>
				<input  class="text-white" id="developer_name" name="developer_name" type="text" value="{{developer.developer_name}}" />
				<label  class="text-white" for="icon_prefix">Developer Name</label>
			</div>
		</div>

        <div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">gamepad</i>
				<input class="text-white" id="developer_desc" name="developer_desc" type="text" value="{{developer.developer_desc}}" />
				<label for="icon_prefix">Developer Description</label>
			</div>
		</div>
		


		<div class="row">
			<div id="matfix" class="input-field col s12">
				<i class="material-icons prefix">today</i>
				<input id="developer_founding_date" name="developer_founding_date" type="text" class="datepicker text-white" />
				<label for="icon_prefix">Developer Date</label>
			</div>
		</div>

		<div calss="row">
			<button class="btn dr-less-green text-white" type="submit">
            Edit developer!
            <i class="fas fa-edit"></i>
            </button>
	    </div>
	</form>
</div>

{% endblock %}