{% extends 'base.html' %} {% block content %}

<div class="row d-flex justify-content-center pb-4 pt-4">
	<form class="col-10 col-md-7 pt-4 pb-4 form-add-game" action="{{ url_for('update_game', game_id=game._id) }}" method="POST">

        <div class="row">
            <div class="col-12 text-center">
                <h1 class="h3 mb-3 font-weight-normal">Edit {{game.game_name}}</h1>
            </div>
        </div>  

        <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="first">Select Categories</label>
                    <select class="selectpicker selector-white select-w-100"
                            multiple data-live-search="true"
                            id="game_categories" name="game_categories" required>
                            <option value="" disabled>Select Category</option>
                            {% for category in categories %}
                                <option id="category_name" name="category_name" value="{{category.category_name}}">
                                {{category.category_name}}</option>
                            {% endfor %}
                    </select>
                    </div>
                <div class="form-group col-md-6">
                    <label for="game_name">Game Name</label>
                    <input type="text" class="form-control" id="game_name" name="game_name" placeholder="Game Name" value="{{game.game_name}}" maxlength="40" required>
                </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="game_summ">Game Summary</label>
                <textarea
                    class="form-control"
                    aria-label="With textarea"
                    id="game_summ"
                    name="game_summ" placeholder="Game Summary" maxlength="1500" required>{{game.game_summ}}</textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                    <label for="developer_name">Developer</label>
                    <select class="select-w-100 selectpicker selector-white" id="developer_name" name="developer_name" required>
                        <option value="" disabled selected>Choose Developer</option>
                        {% for dev in developers %}
                            <option value="{{dev.developer_name}}">{{dev.developer_name}}</option>
                        {% endfor %}
                    </select>   
            </div>
            <div class="form-group col-md-6">
                    <label for="publisher_name">Publisher</label>
                    <select class="select-w-100 selectpicker selector-white" id="publisher_name" name="publisher_name" required>
                    <option value="" disabled selected>Choose Publisher</option>
                    {% for pub in publishers %}
                        <option value="{{pub.publisher_name}}">{{pub.publisher_name}}</option>
                    {% endfor %}
                    </select>  
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                    <label for="platforms">Platforms</label>
                    <select class="select-w-100" id="platforms" name="platforms" multiple required>
                        <option disabled>Select Platform</option>
                        {% for plat in platforms %}
                        <option value="{{plat.platform_name}}">{{plat.platform_name}}</option>
                        {% endfor %}
                    </select>   
            </div>
            <div class="form-group col-md-6">
                    <label for="Release_date">Release Date</label>
                    <input class="release-date-picker select-w-100" type="date" 
                    id="release_date" name="release_date" value="{{game.release_date}}" required/>
            </div>
        </div>  

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="game_image_url">Game Image URL</label>
                    <input type="text" class="form-control" id="game_image_url" name="game_image_url" placeholder="Optional display image" value="{{game.game_image_url}}" >
                </div>
                <div class="form-group col-md-6">
                    <label for="affiliate_link">Affiliate Link</label>
                    <input type="text" class="form-control" id="affiliate_link" name="affiliate_link" placeholder="Optional affiliate Link" value="game.affiliate_link">
                </div>
            </div>

        <div calss="form-group">
        <button class="btn btn-primary text-white" type="submit">
            Edit Game!
            <i class="fas fa-folder-plus"></i>
        </button>
        </div>
  </form>
</div>

<div class="spacer">
</div>

{% endblock %}
