{% extends 'base.html' %}{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-success text-center mt-3" role="alert">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <div class="row pt-5">
        <div class="col-md-8  mb-4" id="featured-games">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                {% for game in games %}
                {% if game.featured == "1" %}
                        <div class="carousel-item active">
                            <a href="{{url_for('view_game_review', game_id=game._id)}}">
                                <img src="{{game.game_image_url}}" class="d-block w-100 " alt="...">
                            </a>
                        </div>
                    {% endif %}

                    {% if game.featured == "2" %}
                    <div class="carousel-item">
                            <a href="{{url_for('view_game_review', game_id=game._id)}}">
                                <img src="{{game.game_image_url}}" class="d-block w-100 home_featured_img" alt="...">
                            </a>
                    </div>
                    {% endif %}

                    {% if game.featured == "3" %}
                    <div class="carousel-item">
                            <a href="{{url_for('view_game_review', game_id=game._id)}}">
                                <img src="{{game.game_image_url}}" class="d-block w-100 home_featured_img" alt="...">
                            </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>

        <div class="col-10 offset-1  col-md-4 offset-md-0 featured_dev border mb-4">
            <div class="text-center">
                <u><h5 class="mt-2 mb-3">Featured Developer</h5></u>
                {% for developer in developers %}
                    {% if developer.featured_developer == True %}
                            <p class="game-details-p text-left" ><b>Developer Name</b> :&nbsp;&nbsp; <a href="{{url_for('view_developer_games', developer_name=developer.developer_name)}}"  >{{developer.developer_name}}</a></p>
                            <p class="game-details-p text-left" ><b>Founding Date</b>:&nbsp;&nbsp;{{developer.developer_founding_date}}</p>
                    {% endif %}
                {% endfor %}
                <p class="game-details-p text-left" ><b>Next release</b> :&nbsp;&nbsp; Elden Ring</p>
                <p class="game-details-p text-left" ><b>Release Date</b> :&nbsp;&nbsp; Unknown</p>
                <p class="game-details-p text-left" ><b>President</b> :&nbsp;&nbsp; Hidetaka Miyazaki</p>
                <p class="game-details-p text-left" ><b>Headquarters</b> :&nbsp;&nbsp; Tokyo, Japan</p>
                
            </div>
        </div>
    </div>
    <div class="row m-0 mt-4 pt-3 reviews-wrapper">
        <div class="col-sm-12 col-md-6">
            <h5 class="text-center">Recent Games</h5>
            <ul class="newest_games_ul p-3">
                {% for games in newest_games %}
                    <li class="list-group recent_games">
                                 <div class="row m-0">
                                    <div class="col-12">
                                        <a href="{{url_for('view_game_review', game_id=games._id)}}" class="font-weight-bold new-games-a">{{games.game_name}}
                                     {% if games.game_image_url == "" %}

                                         <img
                                        src="/static/images/generic_place_holder.jpg"
                                        class="img-recent-game ml-auto  d-md-inline"
                                        alt="Missing Game Image"
                                        />
                                        
                                    {% else %}
                                         <img
                                         src="{{games.game_image_url}}"
                                         class="img-recent-game ml-auto  d-md-inline"
                                         alt="Missing Game Image"
                                        />
                                    {% endif %}

                                    <p class="text-muted m-0">{{games.release_date}}</p>
                                </a>
                            </div>
                        </div>
                    </li>
                    <hr class="block-divider col-sm-12">
                {% endfor %}
            </ul> 
        </div>

        <div class="col-sm-6 col-md-3">
            <h5 class="text-center">Recent Developers</h5>
            <ul class="newest_games_ul p-3">
                {% for developer in newest_developers %}
                    <li class="list-group recent_devs">
                         <div class="row m-0">
                            <div class="col-12 new_dev">
                                <a href="" class="font-weight-bold dev-pub-a">{{developer.developer_name}}
                                    <p class="text-muted m-0">{{developer.developer_founding_date}}</p>
                                </a>
                            </div>
                        </div>
                    </li>
                    <hr class="block-divider col-sm-12">
                {% endfor %}
            </ul> 
        </div>

        <div class="col-sm-6 col-md-3">
            <h5 class="text-center">Recent Publishers</h5>
            <ul class="newest_games_ul p-3">
                {% for publisher in newest_publishers %}
                    <li class="list-group recent_pubs">
                         <div class="row m-0">
                            <div class="col-12 new_dev">
                                <a href="{{url_for('view_publisher_games', publisher_name=publisher.publisher_name)}}" class="font-weight-bold dev-pub-a">{{publisher.publisher_name}}
                                    <p class="text-muted m-0">{{publisher.publisher_founding_date}}</p>
                                </a>
                            </div>
                        </div>
                    </li>
                    <hr class="block-divider col-sm-12">
                {% endfor %}
            </ul> 
        </div>
    </div>



    <div class="spacer">
    </div>
{% endblock %}