{% extends 'base.html' %} {% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <h5 class="text-danger">{{msg}}</h5>
        {% endfor %}
    {% endif %}
{% endwith %}

<h3>Login</h3>
<div class="row">
	<form action="{{url_for('login')}}" method="POST">

        <div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">gamepad</i>
				<input id="username" name="username" type="text"/>
				<label for="icon_prefix">Username</label>
			</div>
		</div>

        <div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">gamepad</i>
				<input id="password" name="password" type="text"/>
				<label for="icon_prefix">password</label>
			</div>
		</div>

        <div calss="row">
			<button class="btn dr-less-green text-white" type="submit">
            Login
            <i class="fas fa-folder-plus"></i>
            </button>
	    </div>
	</form>
</div>

{% endblock %}