{% extends 'base.html' %} {% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger text-center" role="alert">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}



<div class="row text-center  justify-content-center mt-5">
    <div class="col-4 login_forum p-5">
        <form action="{{url_for('login')}}" method="POST" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal text-darks">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input id="username" name="username" class="form-control" placeholder="Username" required>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="Password" name="password" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="text-darks">Dont have an account? <a href="{{url_for('register_user')}}" class="text-darks">Register now!</a></p>
            <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
        </form>
    </div>
</div>

{% endblock %}