{% extends 'base.html' %} {% block content %}

<div class="row mt-3  mb-3 mr-1 ml-1 mr-md-0 ml-md-0 reviews-wrapper ">
    <div class="col-md-8 mb-3 mb-md-0 p-0">
         {% if game.game_image_url == "" %}

            <img
            src="/static/images/generic_place_holder.jpg"
            class="review-img"
            alt="Missing Game Image"
            />
          
        {% else %}
            <img
            src="{{game.game_image_url}}"
            class="review-img"
            alt="Missing Game Image"
            />
        {% endif %}
    </div>

    <div class="col-md-4">
        <h5 class="text-center game-details mb-4">Game Details</h5>
        <p class="game-details-p" ><b class="details-title">Game Name</b> :&nbsp;&nbsp; {{game.game_name}}</p>
        <p class="game-details-p" ><b class="details-title">Developer</b> :&nbsp;&nbsp; {{game.developer_name}}</p>
        <p class="game-details-p" ><b class="details-title">Publisher</b> :&nbsp;&nbsp; {{game.publisher_name}}</p>
        <p class="game-details-p" ><b class="details-title">Release Date</b> :&nbsp;&nbsp; {{game.release_date}}</p>
        <p class="game-details-p"><b class="details-title">Platform</b>:&nbsp;&nbsp;{% for plateform in game.platforms %}<span>{{plateform}},</span> {% endfor %}</p>
        <p class="game-details-p"><b class="details-title">Categories</b>:&nbsp;&nbsp;{% for category in game.game_categories %}<span>{{category}},</span> {% endfor %}</p>
        <p class="game-details-p" ><b class="details-title">Game Added By</b> :&nbsp;&nbsp; {{game.game_added_by}}</p>
      
    </div>
</div>
<div class="row summary-wrapper">
    <div class="col-md-12 mt-3 p-4 reviews-wrapper" id="game_summary">
        <p><strong>Summary:</strong> {{game.game_summ}}</p>
    </div>
</div>




<div class="row  m-0 mt-3 p-2 d-flex justify-content-center">
    <div class="col-md-12 mt-2">
        <h4 class="text-center">Reviews</h4>
    </div>

    <div class="col-12 d-flex justify-content-center pb-5">
        {% for review in reviews %}
            {% if game.game_name == review.review_game %}
                <div class="card m-2 card-review" style="width: 18rem;">
                    <div class="card-body">
                        {% if review.review_score <= 4 %}
                            <p class="review-score review-score-low text-center">&nbsp;{{review.review_score}} &nbsp;</p>
                        {% elif review.review_score >= 8  %}
                            <p class="review-score review-score-high text-center">&nbsp;{{review.review_score}} &nbsp;</p>
                        {% else  %}
                            <p class="review-score review-score-md text-center">&nbsp;{{review.review_score}} &nbsp;</p>
                        {% endif %}

                        <h5 class="card-title text-center mt-2">{{review.review_header}}</h5>
                        <h6 class="card-subtitle mb-2 text-center text-muted">{{review.review_by}}</h6>
                        <p class="card-text review-body">{{review.review_body}}</p>
                        
                    </div>
                    <div class="align-items-end mx-auto">
                            {% if session['username'] == review.review_by %}
                                <a href="{{url_for('edit_review', review_id=review._id)}}" class="btn btn-warning">Edit Review</a>
                            {% endif %}
                        </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="row  m-0 mt-3 p-2 d-flex justify-content-center">
    <div class="col-12 text-center">
        <a href="{{url_for('review_by_game', game_id=game._id)}}" class="btn btn-dark">Add Review</a>
    </div>
</div>

<div class="spacer">
</div>
{% endblock %}
