{% extends 'base.html'%} {% block content %}
<div class="row" >
  <h1 class="mx-auto">Developers</h1>
</div>
<div class="row d-flex justify-content-center text-darks">
  {% for publisher in publishers %}

    <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{publisher.publisher_name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Founded: {{publisher.publisher_founding_date}}</h6>
        <p class="card-text text-overflow">{{publisher.publisher_desc}}</p>
        <a href="{{url_for('view_games_by_publisher', publisher_name=publisher.publisher_name)}}" class="btn btn-primary">view Games</a>
    </div>
    </div>

  {% endfor %}
</div>
{% endblock %}
