{% extends 'base.html' %} {% block content %}


<div class="row">
    <div class="col-md-12 mt-3 p-4 reviews-wrapper" id="game_summary">
        <h4 class="text-center mb-2">{{the_publisher.publisher_name}}</h4>
        <p><strong>Summary: </strong> {{the_publisher.publisher_desc}}</p>
    </div>
</div>




<div class="row  m-0 mt-3 p-2 d-flex justify-content-center">
    <div class="row d-flex justify-content-center pb-5">
            {% for game in games %}

        <div class="card-game m-2 anim1" style="width: 18rem;">
            {% if game.game_image_url == "" %}

                <img
                src="/static/images/generic_place_holder.jpg"
                class="card-img-top game_card_img"
                alt="Missing Game Image"
                />
            
            {% else %}
                <img
                src="{{game.game_image_url}}"
                class="card-img-top game_card_img"
                alt="Missing Game Image"
                />
            {% endif %}
            <div class="card-body">
            <h6 class="card-title">{{game.game_name}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Released: {{game.release_date}}</h6>
            <p class="card-text text-overflow">{{game.game_summ | truncate(160)}}</p>
            <a href="{{url_for('view_game_review', game_id=game._id)}}" class="btn btn-primary">View reviews</a>
            <a href="{{url_for('review_by_game', game_id=game._id)}}" class="btn btn-secondary">Add Review</a>
            {% if session['username'] == game.game_added_by %}
                    <a href="{{url_for('edit_game', game_id=game._id)}}" class="btn btn-warning">Edit Game</a>
            {% endif %}
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
<div class="spacer">
</div>
{% endblock %}
