{% extends 'base.html'%} {% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-success text-center mt-3" role="alert">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="row" >
  <h1 class="mx-auto">Developers</h1>
</div>
<div class="row d-flex justify-content-center text-darks">
  {% for developer in developers %}

    <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{developer.developer_name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Founded: {{developer.developer_founding_date}}</h6>
        <p class="card-text text-overflow">{{developer.developer_desc}}</p>
        <a href="{{url_for('view_developer_games', developer_name=developer.developer_name)}}" class="btn btn-primary">view Games</a>
        {% if session['username'] == developer.added_by %}
            <a href="{{url_for('edit_developer', developer_id=developer._id)}}" class="btn btn-primary">Edit Developer</a>
        {% endif %}
    </div>
    </div>

  {% endfor %}

    
</div>
<div class="spacer">
</div>
{% endblock %}
